ErrorDocument 404 /index.php

RewriteEngine on

RewriteCond %{HTTP_HOST} ^ambulancesdhm.be$ [NC]
RewriteRule ^(.*)$ http://www.ambulancesdhm.be/$1 [QSA,R=301,L]

##############################
RewriteRule ^(.*)--(.*)--(.*)$ 			$3.php?id=$2 [NC,QSA,L]
RewriteRule ^(.*)--(.*)				$2.php [NC,QSA,L]


